<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.password">admin</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost/postgres:5432</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.default_schema">admin</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.show_sql">false</property>
        <mapping class="org.qaf.sifarnici.model.Pacijent" />
        <mapping class="org.qaf.security.model.Korisnik" />
        <mapping class="org.qaf.security.model.Uloga" />
        <mapping class="org.qaf.security.model.KorisnikUloga" />
        <mapping class="org.qaf.security.model.Opiduser"/>
        <mapping class="org.qaf.waf.content.model.Aplikacija"/>
        <mapping class="org.qaf.waf.content.model.ModulAplikacija"/>
        <mapping class="org.qaf.waf.content.model.Grupaaplikacija"/>
        <mapping class="org.qaf.waf.content.model.Modul"/>
    </session-factory>
</hibernate-configuration>
